.campo-texto {
    margin: 20px 0;
}

.campo-texto label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}

.campo-texto input {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    width: 100%;
    border: none;
    font-size: 18x;
    padding: 20px;
    box-sizing: border-box;
}