.campo-texto-area {
    margin: 20px 0;
}

.campo-texto-area label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}

.campo-texto-area textarea {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.06);
    border-radius: 18px;
    width: 100%;
    border: none;
    font-size: 18px;
    padding: 12px;
    box-sizing: border-box;
}